
    <header>
        <div class="navbar navbar-dark bg-primary shadow-sm">
            <div style="margin-left: 1vw;" class="navbar-brand align-item-center d-flex">
                <i style="font-size:40px ;" class="fas fa-shipping-fast">&nbsp;</i>
                <strong style="font-size:30px ;">MyEkart</strong>

                <div class="form-group">
                    <input [(ngModel)]="searchTerm" (keyup)="search($event)" class="form-control" type="text" placeholder="search product">
                </div>
                <span class="fas fa-search search-icon"></span>
            </div>
                <button style="margin-right: 1%; " routerLink="cart" class="btn btn-primary cart">
                    <i  style="font-size: 30px; " class="fas fa-cart-plus"></i>
                    <ng-container>
                        <div style="font-size: 10px;  " class="badge bg-danger">{{totalItem}}</div>
                    </ng-container>
                </button>
        </div>
    </header>
